{% extends "storage/base.html" %}


{% block content %}
<div class="login_form">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Log In</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="centered"><button id="bluebutton" type="submit" >Log In</button></div>
    </form>
    <div class="small_adnotation" >
        <small>
            Do you need an account? <a href="{% url 'register' %}">Register here.</a>
        </small>
    </div>
</div>
{% endblock content %}