{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
        <title>Storage Manager</title>
    </head>

    <div class="topnav">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">PROFILE</a>
        <a href="{% url 'logout' %}">LOGOUT</a>
        {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'register' %}">REGISTER</a>
        {% endif %}
      </div>

    <div class="main">
        <div class="logo">
            <a href="{% url 'main-page' %}"><img src="{% static "images/logo.jpg" %}" alt=""></a>
        </div>
    </div>
    
    <body>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success_message">
                        <h4 class="">{{ message }} </h4>
                    </div>

                {% elif message.tags == 'warning' %}
                    <div class="warning_message">
                        <h4 class="">{{ message }} </h4>
                    </div>

                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %} {% endblock %}
    </body>
</html>