{% extends "storage/base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="delete-alert">
                <h4 class="">{{ message }} </h4>
            </div>
            {% elif message.tags == 'warning' %}
            <div class="wrong-value-type">
                <h4 class="">{{ message }} </h4>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h3>Choose an item to delete:</h3>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
        <form action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}
        <select name="id" id="">
            {% for item in all_items %}
                <option value="{{ item.id }}">{{ item }}  id: {{ item.id }}</option>
            {% endfor %}
        </select>
        <br>
        <button id="redbutton" type="submit">Delete</button>
        </form>
    </div>

    <h3> Or type an ID of item that you want to remove</h3> 

    <div style="text-align: center; margin-top: 40px;">
        <form action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}

            <input type="text" name="id" value=""> </input>
            <br>
            <button id="redbutton" type="submit">Delete</button>
        </form>
    </div>



    <p id="main-footer"><a id="back" href="{% url 'main-page' %}">Back to the main page</a></p>
{% endblock content %}