{% extends "storage/base.html" %}

{% block content %}
    <h3>Choose an item to delete:</h3>

    <div id="delete_item_div">
        <form name="item_list" action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}
        <select name="id" id="">
            <option selected value="Choose_item">Choose item</option>
            {% for item in all_items %}
                <option value="{{ item.id }}">{{ item }}  id: {{ item.id }}</option>
            {% endfor %}
        </select>
        <br>
        <button name="item_list" id="redbutton" type="submit">Delete</button>
        </form>
    </div>

    <h3> Or type an ID of item that you want to remove</h3> 

    <div id="delete_item_div">
        <form name="user_input" action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}
            <input required type="number" name="id" value=""> </input>
            <br>
            <button name="user_input" id="redbutton" type="submit">Delete</button>
        </form>
    </div>
{% endblock content %}