{% extends "storage/base.html" %}

{% block content %}

{% if messages %}
{% endif %}


    <div class="centered">
        <h3>Are you sure that you want to delete all items?</h3>
        <br>
        <br>
        <br>
        <form action=" {% url 'delete-all-items' %}" method="POST">
        {% csrf_token %}
            <button type="submit" name="delete_all_confirmation" value="yes" id="redbutton">Delete all</button>
        </form> 
        <a href="{% url 'main-page' %}"><button id="bluebutton">Cancel</button></a>        
    </div>

{% endblock content %}