{% extends "storage/base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="delete-info">
                <h4 class="">{{ message }} </h4>
            </div>

            {% elif message.tags == 'warning' %}
            <div class="wrong-value-type">
                <h4 class="">{{ message }} </h4>
            </div>

            {% endif %}
        {% endfor %}
    {% endif %}

    <h3>Choose an item to delete:</h3>

    <div id="delete_item_div">
        <form action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}
        <select name="id" id="">
            <option selected value="list_item_Choose_item">Choose item</option>
            {% for item in all_items %}
                <option value="list_item_{{ item.id }}">{{ item }}  id: {{ item.id }}</option>
            {% endfor %}
        </select>
        <br>
        <button id="redbutton" type="submit">Delete</button>
        </form>
    </div>

    <h3> Or type an ID of item that you want to remove</h3> 

    <div id="delete_item_div">
        <form action="{% url 'delete-item-confirm' %}" method="POST">
            {% csrf_token %}
            <input required type="number" name="id" value=""> </input>
            <br>
            <button id="redbutton" type="submit">Delete</button>
        </form>
    </div>
{% endblock content %}