{% extends "storage/base.html" %}

{% block content %}
    <h3> Showing all items in the storage</h3> 
    <br>
    <br>

    {% if not all_items %}
    <div class="all_items">
        <small class="item_list">There are no items in the storage.</small>
    </div>
    {% endif%}

        <div class="all_items">
            <ol>
                {% for item in all_items %}
                    <li class="item_list">{{ item }} <small class="id">(id: {{ item.id }})</small></li>
                {% endfor %}
            </ol>
        </div>
{% endblock content %}