{% extends "storage/base.html" %}

{% block content %}

<div style="position: relative; min-height: 100vh;">
<div style="text-align: center;">
    <br>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <select name="category">
            <option style="width: 350px;" value="None">Choose category</option>
            {% for category in categories %}
            <option style="width: 350px;" value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" id="bluebutton">Show Items</button>
    </form> 

    <div class="all_items">
        <ol style="margin-top: 20px;">
            {% for item in items_to_show %}
                <li style="margin-bottom: 15px; font-size: 10pt;">{{ item }} <small class="id">(id: {{ item.id }})</small></li>
            {% endfor %}
        </ol>
        </div>

</div>


<footer id="main-footer">
<a id="back" href="{% url 'main-page' %}">Back to the main page</a>
</footer>
</div>
{% endblock content %}