{% extends "storage/base.html" %}

{% block content %}
    <h3> Showing all items in the storage</h3> 
    <br>
    <br>
    <div style="position: relative; min-height: 100vh;">
        <div class="all_items">
            <ol>
                {% for item in all_items %}
                    <li style="margin-bottom: 15px; font-size: 10pt;">{{ item }} <small class="id">(id: {{ item.id }})</small></li>
                {% endfor %}
            </ol>
            </div>

    <footer id="main-footer">
    <a id="back" href="{% url 'main-page' %}">Back to the main page</a>
    </footer>
    </div>
{% endblock content %}